{% extends 'base.html' %}

{% block content %}

<h1 class="h1-name">Edit pet details</h1>

<section class="show-add">
    <section class="show-add-new">

        <form action="/pets/{{ pet.id }}" method="post">

            <!-- Insert pet's details -->
            <label for="name">Name:</label>
            <input autocomplete="off" autofocus type="text" name="name" placeholder="Write pet's name" id="name" value="{{ pet.name }}">
            <br>

            <label for="dob">Date of birth:</label>
            <input autocomplete="off" type="date" name="dob" id="dob" value="{{ pet.dob }}">
            <br>
            
            <label for="pet_type">Pet type:</label>
            <input autocomplete="off" type="text" name="pet_type" placeholder="Write pet's type" id="pet_type" value="{{ pet.pet_type }}">
            <br>
            
            <label for="owner">Select owner:</label>
                <select name="owner_id" id="owner">
                    {% for owner in owners %}
                        <option value="{{ owner.id }}">{{ owner.name }}</option>
                    {% endfor %}
                </select>
                <!-- Add if pet's owner registered -->
                <!-- ----------------------------- -->
            <br>
                
            <label for="vet">Select veterinarian:</label>
                <select name="vet_id" id="vet">
                    {% for vet in vets %}
                        <option value="{{ vet.id }}">{{ vet.name }}</option>
                    {% endfor %}
                </select>
            <br>
            
            <!-- Add notes -->
            <hr>
            <label for="treatment_notes">Treatment Notes:</label>
            <br>
            
            <textarea name="treatment_notes" id="treatment_notes" placeholder="{{ pet.treatment_notes }}" cols="30" rows="2" value="{{ pet.treatment_notes }}"></textarea>
            <br>

            <!-- Submit button -->
            <input type="submit" value="Confirm update details">

        </form>

    </section>
</section>
    
{% endblock content %}