{% extends 'base.html' %}

{% block content %}

<div class="content-page">
    <h1>Pets in this clinic</h1>
    <hr>
    <h3>
        <a class="links" href="/pets/new">Add new pet</a>
    </h3>

    <table class="table">
        <tr>
            <th>Pet's name:</th>
            <th></th>
            <th>Date of birth:</th>
            <th></th>
            <th>Pet type:</th>
            <th></th>
            <th>Pet's owner:</th>
            <th></th>
            <th>Assigned veterinarian:</th>
            <th></th>
            <th>Treatment notes:</th>
        </tr>
        <hr>
        {% for pet in pets %}
            <tr>
                <td><a class="table-links" href="/pets/{{ pet.id }}"> {{ pet.name }} </a></td>
                <td></td>
                <td>{{ pet.dob.strftime("%d-%m-%Y") }}</td>
                <td></td>
                <td>{{ pet.pet_type }}</td>
                <td></td>
                <td>{{ pet.owner.name }}</td>
                <td></td>
                <td>{{ pet.vet.name }}</td>
                <td></td>
                <td>{{ pet.treatment_notes }}</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
</div>

{% endblock content %}