{% extends 'base.html' %}

{% block content %}

<h1 class="h1-name">Add new pet</h1>

<section class="show-add">
    <section class="show-add-new">

        <form action="/pets" method="post">

            <!-- Insert pet's details -->
            <label for="name">Name:</label>
            <input autocomplete="off" autofocus type="text" name="name" placeholder="Write pet's name" id="name" required>
            <br>

            <label for="dob">Date of birth:</label>
            <input autocomplete="off" type="date" name="dob" id="dob" required>
            <br>

            <label for="pet_type">Pet type:</label>
            <input autocomplete="off" type="text" name="pet_type" placeholder="Write pet's type" id="pet_type" required>
            <br>

            <label for="owner">Select owner:</label>
                <select name="owner_id" id="owner">
                    {% for owner in owners %}
                        <option value="{{ owner.id }}">{{ owner.name }}</option>
                    {% endfor %}
                </select>
                <!-- Add if pet's owner registered -->
                <!-- ----------------------------- -->
            <br>

            <label for="vet">Select veterinarian:</label>
                <select name="vet_id" id="vet">
                    {% for vet in vets %}
                        <option value="{{ vet.id }}">{{ vet.name }}</option>
                    {% endfor %}
                </select>
            <br>

            <!-- Add notes -->
            <hr>
            <label for="treatment_notes">Treatment Notes:</label>
            <br>
            <textarea name="treatment_notes" placeholder="Write notes" id="treatment_notes" cols="30" rows="2" required></textarea>
            <br>

            <!-- Submit button -->
            <input type="submit" value="Add new pet">

        </form>

    </section>
</section>
{% endblock content %}