{% extends 'base.html' %}

{% block content %}

<div>

    <h3>{{ pet.name }}</h3>
    <h3>{{ pet.dob }}</h3>
    <h3>{{ pet.pet_type }}</h3>
    <h3>{{ pet.owner.name }}</h3>
    <h3>{{ pet.vet.name }}</h3>
    <h3>{{ pet.treatment_notes }}</h3>

    <form action="{{ pet.id }}/edit">
        <input type="submit" value="Update pet details">
    </form>

    <form action="{{ pet.id }}/delete" method="post">
        <input type="submit" value="Delete pet">
    </form>
    
</div>

{% endblock content %}


 