/* -NAV------------------------------------------------------ */

.lists {
  background-image: url("/static/images/nav/vet-nav2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  padding: 40px;
  margin: 0px;
  color: white;
}

.lists > li {
    display: flex;
}

.links {
    color: white;
    text-decoration: none;
    padding: 21px 40px 0px 0px;
}

.nav_image {
    padding: 10px;
    height: 70px;
    width: auto;
}

.nav-separation {
    border: 5px solid #0f0f0f;
    margin: 0px;
}

/* -BODY----------------------------------------------------- */

body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0px;
    background-image: url("/static/images/background.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

#home {
    padding: 20px;
    text-align: center;
    color: rgb(0, 4, 53);
    font-size: 25px;
}
#home-image {
    width: 50%;
    padding: 20px;
}

/* -PAGES--------------------------------------------------- */

.content-page {
    line-height: 1.6;
    color: white;
    text-decoration: none;
    margin: 30px 70px;
    padding: 30px;
}

/* --------------------------------------------------------- */

.table {
    padding: 20px 0px;
    border-radius: 10px;
    text-decoration: none;
    text-align: left;
}

.table-links {
    color: white;
    text-decoration: none;
}

/* --------------------------------------------------------- */

.show {
    display: flex;
    justify-content: center;
    padding: 70px;
}

.show-edit {
    color: white;
    flex-flow: row wrap;
    text-align: center;
    background-color: rgb(12, 33, 73);
    padding: 30px 40px 45px 40px;
    border-radius: 10px;
    border: solid 2px #0f0f0f;
}

/* --------------------------------------------------------- */

.h1-name {
    padding: 50px 50px 0px 50px;
    color: white;
    text-align: center;
}

.show-add {
    display: flex;
    justify-content: center;
}

.show-add-new {
    color: white;
    line-height: 2;
    flex-flow: row wrap;
    text-align: center;
    background-color: rgb(12, 33, 73);
    padding: 40px;
    border-radius: 10px;
    border: solid 2px #0f0f0f;
}

td {
    padding: 0px 25px 0px 0px;
}

.td-center {
    text-align: center;
}