{% extends 'base.html' %}

{% block content %}

<h1 class="h1-name">Edit veterinarian details</h1>

<section class="show-add">
    <section class="show-add-new">

        <form action="/veterinarians/{{ vet.id }}" method="post">

            <!-- Insert vet's details -->
            <label for="name">Name:</label>
            <input autocomplete="off" autofocus type="text" name="name" placeholder="Write veterinarian's name" id="name" value="{{ vet.name }}">
            <br>

            <label for="experience">Years of experience:</label>
            <input autocomplete="off" type="number" name="experience" id="experience" value="{{ vet.experience }}">
            <br>

            <!-- Display all pets treated by specific vet -->


            <!-- Submit button -->
            <input type="submit" value="Confirm update details">

        </form>

    </section>
</section>

{% endblock content %}