{% extends 'base.html' %}

{% block content %}

<section class="show">
    <section class="show-edit">
        <h3>Name: {{ vet.name }}</h3>
        <hr>
        <h3>Years of experience: {{ vet.experience }}</h3>

        <form action="{{ vet.id }}/edit">
            <input type="submit" value="Update veterinarian details">
        </form>
        <br>
        <form action="{{ vet.id }}/delete" method="post">
            <input type="submit" value="Delete veterinarian">
        </form>
    </section>
</section>
{% endblock content %}