{% extends 'base.html' %}

{% block content %}
<div class="content-page">
    <h1>Owners of pets</h1>
    <hr>
    <h3>
        <a class="links" href="/owners/new">Add new owner</a>
    </h3>

    <table class="table">
        <tr>
            <th>Name:</th>
            <th></th>
            <th>Phone number:</th>
            <th></th>
            <th>Registration status:</th>
            <th></th>
            <th>Owner's pets:</th>
        </tr>
        <hr>
        {% for owner in owners %}
            <tr>
                <td><a class="table-links" href="/owners/{{ owner.id }}"> {{ owner.name }} </a></td>
                <td></td>
                <td>{{ owner.phone_number }}</td>
                <td></td>

                {% if owner.registration == True %}
                    <td>✅</td>  
                {% else %}
                    <td>❌</td>
                {% endif %}
                <td></td>
                
                <!--  -->
                <td>GET PETS - TODO</td>
            </tr>
        {% endfor %}
    </table>
    <hr>
</div>

{% endblock content %}