{% extends 'base.html' %}

{% block content %}

<section class="show">
    <section class="show-edit">
        <h3>Owner's name: {{ owner.name }}</h3>
        <h3>Phone number: {{ owner.phone_number }}</h3>

        {% if owner.registration == True %}
            <h3>Registration status: ✅</h3>  
        {% else %}
            <h3>Registration status: ❌</h3>
        {% endif %}

        <form action="{{ owner.id }}/edit">
            <input type="submit" value="Update owner details">
        </form>
        <br>
        <form action="{{ owner.id }}/delete" method="post">
            <input type="submit" value="Delete owner">
        </form>
    </section>
</section>

{% endblock content %}